[submodule "fira"]
	path = _build/Ligaturizer/fonts/fira
	url = https://github.com/tonsky/FiraCode.git
	shallow = true
[submodule "codeface"]
	path = _build/Ligaturizer/fonts/codeface
	url = https://github.com/chrissimpkins/codeface.git
	shallow = true
[submodule "plex"]
	path = _build/Ligaturizer/fonts/plex
	url = https://github.com/IBM/plex.git
	shallow = true
[submodule "fonts/spacemono"]
	path = _build/Ligaturizer/fonts/spacemono
	url = https://github.com/googlefonts/spacemono.git
[submodule "fonts/Montserrat"]
	path = _build/Ligaturizer/fonts/Montserrat
	url = https://github.com/JulietaUla/Montserrat.git
